---
import Layout from "../../layouts/Layout.astro";

const title = "تاريخ الميمز وانتشارها";
const description = "إزاي بدأت الميمز وانتشرت على الإنترنت.";
---

<Layout {title} {description}>
  <p>
    الميمز بدأت من زمان جدًا كصور كوميدية على المنتديات…
    ومع مرور الوقت بقت وسيلة للتعبير الساخر عن المواقف اليومية،
    ودلوقتي بقت لغة إنترنت كاملة.
  </p>
</Layout>
