---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";

// scripts/generate-memes-json.js
---

<Layout title="🤣 LOLME">
  <section style="text-align:center; padding: 0px 0.1rem ;">
    <!-- <h1>🤣 LOLME</h1> -->
    <p style="margin: 0px;">3 أدوات ترفيهية هايفة ومجنونة 🕺🔥</p>
    <p>
      LOLME هو مكانك للضحك والهزار! ارفع صورة، اكتب ميمز، وروّست أصحابك بطريقة
      مرحة 😎
    </p>

    <button id="install-btn" class="appbtn" style="background:#f39c12;">⬇️ حمّل LOLME كتطبيق</button>

  </section>

  <div class="imojidiv">
    <div class="emoji" style=" font-size:2rem;">🤣</div>
    <div class="emoji" style="left:20%;">🤣</div>
    <div class="emoji" style="left:35%;">😂</div>
    <div class="emoji" style="left:50%;">😎</div>
    <div class="emoji" style="left:65%;">🥳</div>
    <div class="emoji" style="left:80%;">🤪</div>
    <div class="emoji" style=" font-size:2rem;">🥳</div>
  </div>

  <main style="display:flex; flex-direction:column; align-items:center; gap:1rem; " >
    <!-- <a href="/meme" class="btn">📸 اعمل ميميز دلوقتي</a> -->
    <button id="open-meme" class="btn">📸 اعمل ميميز دلوقتي</button>
    <!-- <button id="open-meme" class="btn">🔥 روّست صاحبك</button> -->
    <a href="/roast" class="btn">🔥 روّست صاحبك</a>
    <p >🎭 إنتطروا المزيد</p>
  </main>
  <script type="module" src="/js/install-btn.js"></script>
  <script type="module" src="/js/open-meme.js"></script>

</Layout>
