---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
---

<Layout title="๐คฃ LOLME">
  <section style="text-align:center; padding: 0px 0.1rem ;">
    <!-- <h1>๐คฃ LOLME</h1> -->
    <p style="margin: 0px;">3 ุฃุฏูุงุช ุชุฑููููุฉ ูุงููุฉ ููุฌูููุฉ ๐บ๐ฅ</p>
    <p>
      LOLME ูู ููุงูู ููุถุญู ูุงููุฒุงุฑ! ุงุฑูุน ุตูุฑุฉุ ุงูุชุจ ูููุฒุ ูุฑููุณุช ุฃุตุญุงุจู ุจุทุฑููุฉ
      ูุฑุญุฉ ๐
    </p>

    <button id="install-btn" class="appbtn" style="background:#f39c12;">โฌ๏ธ ุญููู LOLME ูุชุทุจูู</button>

  </section>

  <div class="imojidiv">
    <div class="emoji" style=" font-size:2rem;">๐คฃ</div>
    <div class="emoji" style="left:20%;">๐คฃ</div>
    <div class="emoji" style="left:35%;">๐</div>
    <div class="emoji" style="left:50%;">๐</div>
    <div class="emoji" style="left:65%;">๐ฅณ</div>
    <div class="emoji" style="left:80%;">๐คช</div>
    <div class="emoji" style=" font-size:2rem;">๐ฅณ</div>
  </div>

  <main style="display:flex; flex-direction:column; align-items:center; gap:1rem; " >
    <a href="/meme" class="btn">๐ธ ุงุนูู ููููุฒ ุฏูููุชู</a>
    <a href="/roast" class="btn">๐ฅ ุฑููุณุช ุตุงุญุจู</a>
    <a href="/mashup" class="btn">๐ญ ุงุนูู ูุดูุจ ุฌูุงู</a>
  </main>
  <script type="module" src="/js/install-btn.js"></script>

  <!-- <script>
    let deferredPrompt;
    const installBtn = document.getElementById("install-btn");

    // ุญุงูู ุชุณุชูุจู ุงูู prompt
    window.addEventListener("beforeinstallprompt", (e) => {
      e.preventDefault();
      deferredPrompt = e;
    });

    installBtn.addEventListener("click", async () => {
      if (deferredPrompt) {
        deferredPrompt.prompt();
        const choice = await deferredPrompt.userChoice;
        if (choice.outcome === "accepted") {
          console.log("ุชู ุชุซุจูุช ุงูุชุทุจูู ๐");
        }
        deferredPrompt = null;
      } else {
        alert("ูุชุตูุญู ูุง ูุฏุนู ุชุซุจูุช ุงูุชุทุจููุงุช. ุงุณุชุฎุฏู Chrome ุนูู ุงูููุจุงูู!");
      }
    });
  </script> -->
</Layout>
